bakery/src/webapp/app/html/footer.html

<div class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 bg-white text-dark pt-5 pb-5">
        <div class="row">
          <div class="col-md-4 text-center"><img src="undefinedassets/images/11111.png" alt="Footer" width="50%"/></div>
          <div class="col-md-4 font-weight-bolder pf-38">
            <div class="border-black"><i class="fa fa-map-marker mr-2"></i><span>Address: 123 Street, HCM City, VN</span></div>
            <div class="border-black"><i class="fa fa-phone mr-2"></i><span>Phone number : (123) 456-7890 </span></div>
            <div class="border-black"><i class="fa fa-envelope mr-2"></i><span>E-mail : mail@example.com</span></div>
            <div class="pt-3 sn-icon"><i class="fab fa-facebook-square mr-2"></i><i class="fab fa-instagram mr-2"></i><i class="fab fa-google-plus-square mr-2"></i><i class="fab fa-twitter-square mr-2"></i></div>
          </div>
          <div class="col-md-4">
            <ul class="rm-type font-weight-bolder pt-3">
              <li> <a href="#"><i class="fa fa-chevron-circle-right mr-2"></i><span>Home</span></a></li>
              <li> <a href="#"> <i class="fa fa-chevron-circle-right mr-2"></i><span>Shop</span></a></li>
              <li> <a href="#"> <i class="fa fa-chevron-circle-right mr-2"></i><span>Recipes</span></a></li>
              <li> <a href="#"> <i class="fa fa-chevron-circle-right mr-2"></i><span>Teach baking</span></a></li>
              <li> <a href="#"> <i class="fa fa-chevron-circle-right mr-2"></i><span>Baking tools</span></a></li>
              <li> <a href="#"> <i class="fa fa-chevron-circle-right mr-2"></i><span>About</span></a></li>
              <li> <a href="#"> <i class="fa fa-chevron-circle-right mr-2"></i><span>Contact</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

bakery/src/webapp/app/pug/footer.pug
div.footer
    .container-fluid
        .row
            .col-md-12.bg-white.text-dark.pt-5.pb-5
                .row
                    .col-md-4.text-center
                        img(src=host+"assets/images/11111.png", alt="Footer", width="50%")
                    .col-md-4.font-weight-bolder.pf-38
                        .border-black
                            i.fa.fa-map-marker.mr-2
                            span Address: 123 Street, HCM City, VN
                        .border-black
                            i.fa.fa-phone.mr-2
                            span Phone number : (123) 456-7890 
                        .border-black
                            i.fa.fa-envelope.mr-2
                            span E-mail : mail@example.com
                        div.pt-3.sn-icon
                            i.fab.fa-facebook-square.mr-2
                            i.fab.fa-instagram.mr-2
                            i.fab.fa-google-plus-square.mr-2
                            i.fab.fa-twitter-square.mr-2
                    .col-md-4
                        ul.rm-type.font-weight-bolder.pt-3
                            li 
                               a(href="#")
                                    i.fa.fa-chevron-circle-right.mr-2
                                    span Home
                            li  
                               a(href="#") 
                                    i.fa.fa-chevron-circle-right.mr-2
                                    span Shop
                            li  
                               a(href="#") 
                                    i.fa.fa-chevron-circle-right.mr-2
                                    span Recipes
                            li  
                               a(href="#") 
                                    i.fa.fa-chevron-circle-right.mr-2
                                    span Teach baking
                            li  
                               a(href="#") 
                                    i.fa.fa-chevron-circle-right.mr-2
                                    span Baking tools
                            li  
                               a(href="#") 
                                    i.fa.fa-chevron-circle-right.mr-2
                                    span About
                            li  
                               a(href="#") 
                                    i.fa.fa-chevron-circle-right.mr-2
                                    span Contact
