bakery/src/webapp/app/pug/index.pug
doctype html
html
    head
        title Bakery
        include variable.pug
        block link
            link(rel='stylesheet', href=host+'assets/css/lib/bootstrap.css')
            link(rel='stylesheet', href=host+'assets/fonts/fontawesome/css/all.css')
            link(rel='stylesheet', href=host+'assets/css/lib/animate.css')
            link(rel="stylesheet", href=host+"assets/css/style.css")
    body
        include nav.pug
        block body
            .container-fluid.content-page
                .row
                    .col-md-12.remove-p.bg-slide
                        #slider.carousel.slide(data-ride="carousel")
                            .carousel-inner
                                .carousel-item.active
                                    img(src=host+"assets/images/slide-3.jpg", alt="Slide 1")
                                .carousel-item
                                    img(src=host+"assets/images/slide2.jpg", alt="Slide 2")
                                .carousel-item
                                    img(src=host+"assets/images/slide.jpg", alt="Slide 3")
                                .carousel-item
                                    img(src=host+"assets/images/slide-1.jpg", alt="Slide 4")
                                .carousel-item
                                    img(src=host+"assets/images/slide3.jpg", alt="Slide 5")
                            a.carousel-control-prev(href="#slider", data-slide="prev")
                            a.carousel-control-next(href="#slider", data-slide="next")
                    .col-md-12.remove-p.new-products
                        .new-products-img
                            img(src=host+"assets/images/cake-new.png", alt="", width="60%")
                    .col-md-12.introduce
                        p.h1.font-weight-bolder Bakery.vn
                        p.font-weight-bolder Delicate-Delicious-Soft
                        .container-fluid
                            .row
                                .col-md-4.wow.fadeInLeft(data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30")
                                    img(src=host+"assets/images/chef.png", alt="Chef", width="70%")
                                .col-md-4.pd-t-50.wow.fadeInDown(data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30")
                                    .display-4.font-weight-bolder.text-uppercase Sweetter
                                    .hr-than.justify-content-center
                                        .hr-before 
                                            hr
                                        .h4.font-weight-bolder than
                                        .hr-after
                                            hr
                                    .h2.font-pac what you see
                                    p.text-left.pd-t-50 Enjoy the freshness, but also enjoy French taste right in Saigon. Located on the road next to the river and small boats, Bakery has long been a favorite destination for tourists and residents here.
                                .col-md-4.pd-t-50.wow.fadeInRight(data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30")
                                    div.text-left
                                        i.far.fa-check-circle.mr-sm-2
                                        span.font-weight-bolder.text-uppercase.intro-title Shop
                                        p The latest bakes this year were designed by ourselves.
                                    div.text-left
                                        i.far.fa-check-circle.mr-sm-2
                                        span.font-weight-bolder.text-uppercase.intro-title Teach baking
                                        p Baking courses from basic to professional, suitable for all subjects.
                                    div.text-left
                                        i.far.fa-check-circle.mr-sm-2
                                        span.font-weight-bolder.text-uppercase.intro-title Recipes
                                        p Guide and share experiences to create the best products.
                                    div.text-left
                                        i.far.fa-check-circle.mr-sm-2
                                        span.font-weight-bolder.text-uppercase.intro-title Baking tools
                                        p We specialize in providing imported materials and baking tools.
                    .col-md-12.text-white.picture-of-cakes.text-center
                        p.picture-title
                            span.font-weight-bolder.bg-dark PICTURES OF CAKE TYPES
                        .container-fluid.wow.rollIn(data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30")
                            .row
                                #pictureOfCakeTypes.carousel.slide(data-ride="carousel")
                                    .carousel-inner
                                        .carousel-item.active
                                            ul.list-group.list-group-horizontal
                                                .list-group-item
                                                    img(src=host+"assets/images/570x570-1.png", alt="")
                                                .list-group-item
                                                    img(src=host+"assets/images/570x570-2.png", alt="")
                                                .list-group-item
                                                    img(src=host+"assets/images/570x570-3.png", alt="")
                                                .list-group-item
                                                    img(src=host+"assets/images/570x570-17.png", alt="")
                                                .list-group-item
                                                    img(src=host+"assets/images/570x570-5.png", alt="")
                                        .carousel-item
                                            ul.list-group.list-group-horizontal
                                                .list-group-item
                                                    img(src=host+"assets/images/570x570-6.png", alt="")
                                                .list-group-item
                                                    img(src=host+"assets/images/570x570-7.png", alt="")
                                                .list-group-item
                                                    img(src=host+"assets/images/570x570-8.png", alt="")
                                                .list-group-item
                                                    img(src=host+"assets/images/570x570-9.png", alt="")
                                        .carousel-item
                                            ul.list-group.list-group-horizontal
                                                .list-group-item
                                                    img(src=host+"assets/images/570x570-10.png", alt="")
                                                .list-group-item
                                                    img(src=host+"assets/images/570x570-14.png", alt="")
                                                .list-group-item
                                                    img(src=host+"assets/images/570x570-25.png", alt="")
                                                .list-group-item
                                                    img(src=host+"assets/images/570x570-1.png", alt="")
                                    a.carousel-control-prev(href="#pictureOfCakeTypes", data-slide="prev")
                                        .carousel-icon
                                            .fas.fa-angle-left
                                    a.carousel-control-next(href="#pictureOfCakeTypes", data-slide="next")
                                        .carousel-icon
                                            .fas.fa-angle-right
                    .col-md-12.contact-cake.text-white.text-center
                        h1.font-weight-bolder.text-uppercase Contact to order cake
                        h5.font-weight-bolder Call us now to get the best products
                        h5.font-weight-bolder Hotline: 090 000 00 00
                    .col-md-12.featured-product.remove-p.text-center
                        h1.text-uppercase.font-weight-bolder Featured Products
                        p Cake templates make the Bakery brand, why don't you try it?
                        .mb-5.justify-content-center.d-flex
                            div.border-fp
                                button.btn.btn-outline-black.font-weight-bolder.waves-effect.filter(type="button", data-rel="all") All
                                button.btn.btn-outline-black.font-weight-bolder.waves-effect.filter(type="button", data-rel="0") Cream cake
                                button.btn.btn-outline-black.font-weight-bolder.waves-effect.filter(type="button", data-rel="1") Cupcake
                                button.btn.btn-outline-black.font-weight-bolder.waves-effect.filter(type="button", data-rel="2") Doughnuts and Pancake
                        .gallery#gallery.wow.rotateInDownRight(data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30")
                            .container-fluid
                                .row
                                    each item in featured
                                        div(class="pics animation all col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 " + item.col)
                                            .image
                                                img(src=host+"assets/images/" + item.img, alt="" + item.alt, class="img-fluid")
                                                .img-hover
                                                    h3.font-weight-bolder=item.alt
                                                    .search-icon
                                                        i.fas.fa-search
                    .col-md-12.baking-tools.text-center
                        h1.text-uppercase.font-weight-bolder baking tools
                        p We provide baking tools imported from reputable and certified countries.
                        .container-fluid.wow.fadeInLeft(data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30")
                            .row
                                -var bakingTools = [{'image':'phot.jpg', 'alt':'Whisk'},{'image':'khaytraitim.jpg', 'alt':'Cake pan'},{'image':'khuonbanh.jpg', 'alt':'muffin fin'},{'image':'khaynuong.jpg', 'alt':'Baking Sheet'}]
                                each item in bakingTools
                                    .col-md-4.col-12.col-sm-6.col-xl-3
                                        .image.bg-white
                                            img(src=host+"assets/images/" + item.image, alt="" + item.alt, class="img-fluid")
                                            .img-hover
                                                h3.font-weight-bolder=item.alt
                                                .search-icon
                                                    i.fas.fa-search
                    .col-md-12.recipes-baking.text-center
                        h1.text-uppercase.font-weight-bolder recipes baking
                        p Articles about baking experience as well as guiding you to make a cake for yourself or someone.
                        .container-fluid
                            .row
                                .col-md-12.col-lg-6.mr-bot-10.wow.fadeInLeft(data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30")
                                    .container-fluid
                                        .row
                                            .col-4
                                                img.mr-img(src=host+"assets/images/Baguette.jpg", alt="Baguette", class="img-fluid")
                                            .col-8.text-left
                                                strong How to make delicious baguettes
                                                div!= 'Created by <font color="#FF3399">Admin</font> | 06/26/2019'
                                                .truncate The custard cake is not only especially loved by children but also enjoyed by adults. Soft and sweet cake and enjoy a cup of tea or coffee for breakfast or sweet and warm banquets.
                                                a(href="#") View more
                                .col-md-12.col-lg-6.wow.fadeInRight(data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30")
                                    .container-fluid
                                        .row
                                            .col-4
                                                img.mr-img(src=host+"assets/images/banhsinhnhat.jpg", alt="Baguette", class="img-fluid")
                                            .col-8.text-left
                                                strong How to make delicious baguettes
                                                div!= 'Created by <font color="#FF3399">Admin</font> | 06/26/2019'
                                                .truncate The custard cake is not only especially loved by children but also enjoyed by adults. Soft and sweet cake and enjoy a cup of tea or coffee for breakfast or sweet and warm banquets.
                                                a(href="#") View more
                                .col-md-12.col-lg-6.wow.fadeInLeft(data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30")
                                    .container-fluid
                                        .row
                                            .col-4
                                                img.mr-img(src=host+"assets/images/bonglan.jpg", alt="Baguette", class="img-fluid")
                                            .col-8.text-left
                                                strong How to make delicious baguettes
                                                div!= 'Created by <font color="#FF3399">Admin</font> | 06/26/2019'
                                                .truncate The custard cake is not only especially loved by children but also enjoyed by adults. Soft and sweet cake and enjoy a cup of tea or coffee for breakfast or sweet and warm banquets.
                                                a(href="#") View more
                                .col-md-12.col-lg-6.wow.fadeInRight(data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30")
                                    .container-fluid
                                        .row
                                            .col-4
                                                img.mr-img(src=host+"assets/images/banhmihoacuc.jpg", alt="Baguette", class="img-fluid")
                                            .col-8.text-left
                                                strong How to make delicious baguettes
                                                div!= 'Created by <font color="#FF3399">Admin</font> | 06/26/2019'
                                                .truncate The custard cake is not only especially loved by children but also enjoyed by adults. Soft and sweet cake and enjoy a cup of tea or coffee for breakfast or sweet and warm banquets.
                                                a(href="#") View more
                    .col-md-12.pic-of-invertors.text-center
                        p.text-uppercase
                            span.font-weight-bolder.bg-dark.text-white PICTURES OF INVESTORS
                        .container-fluid.wow.fadeInUp(data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30")
                            .row
                                #pictureOfInvertors.carousel.slide(data-ride="carousel")
                                    .carousel-inner
                                        .carousel-item.active
                                            ul.list-group.list-group-horizontal
                                                .list-group-item
                                                    img.img-thumbnail(src=host+"assets/images/invertors/team11.jpg", alt="")
                                                .list-group-item
                                                    img.img-thumbnail(src=host+"assets/images/invertors/team10.jpg", alt="")
                                                .list-group-item
                                                    img.img-thumbnail(src=host+"assets/images/invertors/team9.jpg", alt="")
                                                .list-group-item
                                                    img.img-thumbnail(src=host+"assets/images/invertors/team8.jpg", alt="")
                                        .carousel-item
                                            ul.list-group.list-group-horizontal
                                                .list-group-item
                                                    img.img-thumbnail(src=host+"assets/images/invertors/team7.jpg", alt="")
                                                .list-group-item
                                                    img.img-thumbnail(src=host+"assets/images/invertors/team6.jpg", alt="")
                                                .list-group-item
                                                    img.img-thumbnail(src=host+"assets/images/invertors/team5.jpg", alt="")
                                                .list-group-item
                                                    img.img-thumbnail(src=host+"assets/images/invertors/team4.jpg", alt="")
                                        .carousel-item
                                            ul.list-group.list-group-horizontal
                                                .list-group-item
                                                    img.img-thumbnail(src=host+"assets/images/invertors/team3.jpg", alt="")
                                                .list-group-item
                                                    img.img-thumbnail(src=host+"assets/images/invertors/team2.jpg", alt="")
                                                .list-group-item
                                                    img.img-thumbnail(src=host+"assets/images/invertors/team1.jpg", alt="")
                                                .list-group-item
                                                    img.img-thumbnail(src=host+"assets/images/invertors/team12.jpg", alt="")
                                    a.carousel-control-prev(href="#pictureOfInvertors", data-slide="prev")
                                        .carousel-icon
                                            .fas.fa-angle-left
                                    a.carousel-control-next(href="#pictureOfInvertors", data-slide="next")
                                        .carousel-icon
                                            .fas.fa-angle-right
                    .col-md-12.contact-us.text-center
                        h1.text-uppercase.font-weight-bolder Contact Us
                        p Please leave information if you need to order a cake or register for a baking course. Bakery will contact you as soon as possible
                        form
                            .container-fluid
                                .row.wow.fadeInLeft(data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30")
                                    .col-md-4.form-group
                                        input.form-control(type="text", placeholder='Full name')
                                    .col-md-4.form-group
                                        input.form-control(type="email", placeholder='Email')
                                    .col-md-4.form-group
                                        input.form-control(type="text", placeholder='Phone')
                                .row.wow.fadeInRight(data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30")
                                    .col-md-12.form-group
                                        textarea.form-control(rows='5')
                                .row.wow.fadeInRight(data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30")
                                    .col-md-12.form-group.text-right
                                        button.btn.btn-primary.mb-2(type="button") Send Feedback
        include footer.pug
    block script
        script(src=host+"common/lib/jquery.min.js")
        script(src=host+"common/lib/bootstrap.min.js")
        script(src=host+"common/lib/jquery.arctext.js")
        script(src=host+"common/lib/jsapi.js")
        script(src=host+"common/arctext.js")
        script(src=host+"common/lib/wow.min.js")
        script(src=host+"common/wow.js")
        script(src=host+"common/filter-images.js")
    
    

bakery/src/webapp/app/html/index.html
<!DOCTYPE html>
<html>
  <head>
    <title>Bakery</title>
    <!--featured-product-->
    <link rel="stylesheet" href="http://localhost:3000/assets/css/lib/bootstrap.css">
    <link rel="stylesheet" href="http://localhost:3000/assets/fonts/fontawesome/css/all.css">
    <link rel="stylesheet" href="http://localhost:3000/assets/css/lib/animate.css">
    <link rel="stylesheet" href="http://localhost:3000/assets/css/style.css">
  </head>
  <body>
    <!--Nav menu-->
    <nav class="navbar navbar-expand-lg bg-white navbar-light fixed-top"><a class="navbar-brand" href="#">
        <h1 class="logo ml-4">Bakery</h1></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="navbar-item"><a class="nav-link text-white" href="http://localhost:3000/index.html">Home</a></li>
          <li class="navbar-item"><a class="nav-link text-white" href="http://localhost:3000/html/shop.html">Shop</a></li>
          <li class="navbar-item"><a class="nav-link text-white" href="#">Recipes</a></li>
          <li class="navbar-item"><a class="nav-link text-white" href="#">Teach baking</a></li>
          <li class="navbar-item"><a class="nav-link text-white" href="#">Baking tools</a></li>
          <li class="navbar-item"><a class="nav-link text-white" href="#">About</a></li>
          <li class="navbar-item"><a class="nav-link text-white" href="#">Contact</a></li>
          <li class="navbar-item"><a class="nav-link text-white" href="#" data-toggle="modal" data-target="#search"><i class="fas fa-search mr-sm-2"></i></a></li>
        </ul>
      </div>
    </nav>
    <div class="modal fade" id="search">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-body">
            <input type="text" placeholder="Search...">
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid content-page">
      <div class="row">
        <div class="col-md-12 remove-p bg-slide">
          <div class="carousel slide" id="slider" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active"><img src="http://localhost:3000/assets/images/slide-3.jpg" alt="Slide 1"></div>
              <div class="carousel-item"><img src="http://localhost:3000/assets/images/slide2.jpg" alt="Slide 2"></div>
              <div class="carousel-item"><img src="http://localhost:3000/assets/images/slide.jpg" alt="Slide 3"></div>
              <div class="carousel-item"><img src="http://localhost:3000/assets/images/slide-1.jpg" alt="Slide 4"></div>
              <div class="carousel-item"><img src="http://localhost:3000/assets/images/slide3.jpg" alt="Slide 5"></div>
            </div><a class="carousel-control-prev" href="#slider" data-slide="prev"></a><a class="carousel-control-next" href="#slider" data-slide="next"></a>
          </div>
        </div>
        <div class="col-md-12 remove-p new-products">
          <div class="new-products-img"><img src="http://localhost:3000/assets/images/cake-new.png" alt="" width="60%"></div>
        </div>
        <div class="col-md-12 introduce">
          <p class="h1 font-weight-bolder">Bakery.vn</p>
          <p class="font-weight-bolder">Delicate-Delicious-Soft</p>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4 wow fadeInLeft" data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30"><img src="http://localhost:3000/assets/images/chef.png" alt="Chef" width="70%"></div>
              <div class="col-md-4 pd-t-50 wow fadeInDown" data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30">
                <div class="display-4 font-weight-bolder text-uppercase">Sweetter</div>
                <div class="hr-than justify-content-center">
                  <div class="hr-before"> 
                    <hr>
                  </div>
                  <div class="h4 font-weight-bolder">than</div>
                  <div class="hr-after">
                    <hr>
                  </div>
                </div>
                <div class="h2 font-pac">what you see</div>
                <p class="text-left pd-t-50">Enjoy the freshness, but also enjoy French taste right in Saigon. Located on the road next to the river and small boats, Bakery has long been a favorite destination for tourists and residents here.</p>
              </div>
              <div class="col-md-4 pd-t-50 wow fadeInRight" data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30">
                <div class="text-left"><i class="far fa-check-circle mr-sm-2"></i><span class="font-weight-bolder text-uppercase intro-title">Shop</span>
                  <p>The latest bakes this year were designed by ourselves.</p>
                </div>
                <div class="text-left"><i class="far fa-check-circle mr-sm-2"></i><span class="font-weight-bolder text-uppercase intro-title">Teach baking</span>
                  <p>Baking courses from basic to professional, suitable for all subjects.</p>
                </div>
                <div class="text-left"><i class="far fa-check-circle mr-sm-2"></i><span class="font-weight-bolder text-uppercase intro-title">Recipes</span>
                  <p>Guide and share experiences to create the best products.</p>
                </div>
                <div class="text-left"><i class="far fa-check-circle mr-sm-2"></i><span class="font-weight-bolder text-uppercase intro-title">Baking tools</span>
                  <p>We specialize in providing imported materials and baking tools.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 text-white picture-of-cakes text-center">
          <p class="picture-title"><span class="font-weight-bolder bg-dark">PICTURES OF CAKE TYPES</span></p>
          <div class="container-fluid wow rollIn" data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30">
            <div class="row">
              <div class="carousel slide" id="pictureOfCakeTypes" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <ul class="list-group list-group-horizontal">
                      <div class="list-group-item"><img src="http://localhost:3000/assets/images/570x570-1.png" alt=""></div>
                      <div class="list-group-item"><img src="http://localhost:3000/assets/images/570x570-2.png" alt=""></div>
                      <div class="list-group-item"><img src="http://localhost:3000/assets/images/570x570-3.png" alt=""></div>
                      <div class="list-group-item"><img src="http://localhost:3000/assets/images/570x570-17.png" alt=""></div>
                      <div class="list-group-item"><img src="http://localhost:3000/assets/images/570x570-5.png" alt=""></div>
                    </ul>
                  </div>
                  <div class="carousel-item">
                    <ul class="list-group list-group-horizontal">
                      <div class="list-group-item"><img src="http://localhost:3000/assets/images/570x570-6.png" alt=""></div>
                      <div class="list-group-item"><img src="http://localhost:3000/assets/images/570x570-7.png" alt=""></div>
                      <div class="list-group-item"><img src="http://localhost:3000/assets/images/570x570-8.png" alt=""></div>
                      <div class="list-group-item"><img src="http://localhost:3000/assets/images/570x570-9.png" alt=""></div>
                    </ul>
                  </div>
                  <div class="carousel-item">
                    <ul class="list-group list-group-horizontal">
                      <div class="list-group-item"><img src="http://localhost:3000/assets/images/570x570-10.png" alt=""></div>
                      <div class="list-group-item"><img src="http://localhost:3000/assets/images/570x570-14.png" alt=""></div>
                      <div class="list-group-item"><img src="http://localhost:3000/assets/images/570x570-25.png" alt=""></div>
                      <div class="list-group-item"><img src="http://localhost:3000/assets/images/570x570-1.png" alt=""></div>
                    </ul>
                  </div>
                </div><a class="carousel-control-prev" href="#pictureOfCakeTypes" data-slide="prev">
                  <div class="carousel-icon">
                    <div class="fas fa-angle-left"></div>
                  </div></a><a class="carousel-control-next" href="#pictureOfCakeTypes" data-slide="next">
                  <div class="carousel-icon">
                    <div class="fas fa-angle-right"></div>
                  </div></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 contact-cake text-white text-center">
          <h1 class="font-weight-bolder text-uppercase">Contact to order cake</h1>
          <h5 class="font-weight-bolder">Call us now to get the best products</h5>
          <h5 class="font-weight-bolder">Hotline: 090 000 00 00</h5>
        </div>
        <div class="col-md-12 featured-product remove-p text-center">
          <h1 class="text-uppercase font-weight-bolder">Featured Products</h1>
          <p>Cake templates make the Bakery brand, why don't you try it?</p>
          <div class="mb-5 justify-content-center d-flex">
            <div class="border-fp">
              <button class="btn btn-outline-black font-weight-bolder waves-effect filter" type="button" data-rel="all">All</button>
              <button class="btn btn-outline-black font-weight-bolder waves-effect filter" type="button" data-rel="0">Cream cake</button>
              <button class="btn btn-outline-black font-weight-bolder waves-effect filter" type="button" data-rel="1">Cupcake</button>
              <button class="btn btn-outline-black font-weight-bolder waves-effect filter" type="button" data-rel="2">Doughnuts and Pancake</button>
            </div>
          </div>
          <div class="gallery wow rotateInDownRight" id="gallery" data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30">
            <div class="container-fluid">
              <div class="row">
                <div class="pics animation all col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 0">
                  <div class="image"><img class="img-fluid" src="http://localhost:3000/assets/images/570x570-9.png" alt="Wood Creamcake">
                    <div class="img-hover">
                      <h3 class="font-weight-bolder">Wood Creamcake</h3>
                      <div class="search-icon"><i class="fas fa-search"></i></div>
                    </div>
                  </div>
                </div>
                <div class="pics animation all col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 1">
                  <div class="image"><img class="img-fluid" src="http://localhost:3000/assets/images/570x570-20.png" alt="Rose Cupcake">
                    <div class="img-hover">
                      <h3 class="font-weight-bolder">Rose Cupcake</h3>
                      <div class="search-icon"><i class="fas fa-search"></i></div>
                    </div>
                  </div>
                </div>
                <div class="pics animation all col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 2">
                  <div class="image"><img class="img-fluid" src="http://localhost:3000/assets/images/570x570-5.png" alt="Doughnut">
                    <div class="img-hover">
                      <h3 class="font-weight-bolder">Doughnut</h3>
                      <div class="search-icon"><i class="fas fa-search"></i></div>
                    </div>
                  </div>
                </div>
                <div class="pics animation all col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 0">
                  <div class="image"><img class="img-fluid" src="http://localhost:3000/assets/images/570x570.png" alt="Custard Cake">
                    <div class="img-hover">
                      <h3 class="font-weight-bolder">Custard Cake</h3>
                      <div class="search-icon"><i class="fas fa-search"></i></div>
                    </div>
                  </div>
                </div>
                <div class="pics animation all col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 1">
                  <div class="image"><img class="img-fluid" src="http://localhost:3000/assets/images/570x570-23.png" alt="Heart Creamcake">
                    <div class="img-hover">
                      <h3 class="font-weight-bolder">Heart Creamcake</h3>
                      <div class="search-icon"><i class="fas fa-search"></i></div>
                    </div>
                  </div>
                </div>
                <div class="pics animation all col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 0">
                  <div class="image"><img class="img-fluid" src="http://localhost:3000/assets/images/570x570-25.png" alt="Chocola Creamcake">
                    <div class="img-hover">
                      <h3 class="font-weight-bolder">Chocola Creamcake</h3>
                      <div class="search-icon"><i class="fas fa-search"></i></div>
                    </div>
                  </div>
                </div>
                <div class="pics animation all col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 0">
                  <div class="image"><img class="img-fluid" src="http://localhost:3000/assets/images/570x570-28.png" alt="Cupcake">
                    <div class="img-hover">
                      <h3 class="font-weight-bolder">Cupcake</h3>
                      <div class="search-icon"><i class="fas fa-search"></i></div>
                    </div>
                  </div>
                </div>
                <div class="pics animation all col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 2">
                  <div class="image"><img class="img-fluid" src="http://localhost:3000/assets/images/570x570-13.png" alt="Le Castella Cake">
                    <div class="img-hover">
                      <h3 class="font-weight-bolder">Le Castella Cake</h3>
                      <div class="search-icon"><i class="fas fa-search"></i></div>
                    </div>
                  </div>
                </div>
                <div class="pics animation all col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 2">
                  <div class="image"><img class="img-fluid" src="http://localhost:3000/assets/images/570x570-6.png" alt="Macaron">
                    <div class="img-hover">
                      <h3 class="font-weight-bolder">Macaron</h3>
                      <div class="search-icon"><i class="fas fa-search"></i></div>
                    </div>
                  </div>
                </div>
                <div class="pics animation all col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 2">
                  <div class="image"><img class="img-fluid" src="http://localhost:3000/assets/images/570x570-30.png" alt="Saskatoon Berry Pie Cake">
                    <div class="img-hover">
                      <h3 class="font-weight-bolder">Saskatoon Berry Pie Cake</h3>
                      <div class="search-icon"><i class="fas fa-search"></i></div>
                    </div>
                  </div>
                </div>
                <div class="pics animation all col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 2">
                  <div class="image"><img class="img-fluid" src="http://localhost:3000/assets/images/570x570-18.png" alt="Caramel Pudding">
                    <div class="img-hover">
                      <h3 class="font-weight-bolder">Caramel Pudding</h3>
                      <div class="search-icon"><i class="fas fa-search"></i></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 baking-tools text-center">
          <h1 class="text-uppercase font-weight-bolder">baking tools</h1>
          <p>We provide baking tools imported from reputable and certified countries.</p>
          <div class="container-fluid wow fadeInLeft" data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30">
            <div class="row">
              <div class="col-md-4 col-12 col-sm-6 col-xl-3">
                <div class="image bg-white"><img class="img-fluid" src="http://localhost:3000/assets/images/phot.jpg" alt="Whisk">
                  <div class="img-hover">
                    <h3 class="font-weight-bolder">Whisk</h3>
                    <div class="search-icon"><i class="fas fa-search"></i></div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-12 col-sm-6 col-xl-3">
                <div class="image bg-white"><img class="img-fluid" src="http://localhost:3000/assets/images/khaytraitim.jpg" alt="Cake pan">
                  <div class="img-hover">
                    <h3 class="font-weight-bolder">Cake pan</h3>
                    <div class="search-icon"><i class="fas fa-search"></i></div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-12 col-sm-6 col-xl-3">
                <div class="image bg-white"><img class="img-fluid" src="http://localhost:3000/assets/images/khuonbanh.jpg" alt="muffin fin">
                  <div class="img-hover">
                    <h3 class="font-weight-bolder">muffin fin</h3>
                    <div class="search-icon"><i class="fas fa-search"></i></div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-12 col-sm-6 col-xl-3">
                <div class="image bg-white"><img class="img-fluid" src="http://localhost:3000/assets/images/khaynuong.jpg" alt="Baking Sheet">
                  <div class="img-hover">
                    <h3 class="font-weight-bolder">Baking Sheet</h3>
                    <div class="search-icon"><i class="fas fa-search"></i></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 recipes-baking text-center">
          <h1 class="text-uppercase font-weight-bolder">recipes baking</h1>
          <p>Articles about baking experience as well as guiding you to make a cake for yourself or someone.</p>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 col-lg-6 mr-bot-10 wow fadeInLeft" data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-4"><img class="mr-img img-fluid" src="http://localhost:3000/assets/images/Baguette.jpg" alt="Baguette"></div>
                    <div class="col-8 text-left"><strong>How to make delicious baguettes</strong>
                      <div>Created by <font color="#FF3399">Admin</font> | 06/26/2019</div>
                      <div class="truncate">The custard cake is not only especially loved by children but also enjoyed by adults. Soft and sweet cake and enjoy a cup of tea or coffee for breakfast or sweet and warm banquets.</div><a href="#">View more</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-lg-6 wow fadeInRight" data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-4"><img class="mr-img img-fluid" src="http://localhost:3000/assets/images/banhsinhnhat.jpg" alt="Baguette"></div>
                    <div class="col-8 text-left"><strong>How to make delicious baguettes</strong>
                      <div>Created by <font color="#FF3399">Admin</font> | 06/26/2019</div>
                      <div class="truncate">The custard cake is not only especially loved by children but also enjoyed by adults. Soft and sweet cake and enjoy a cup of tea or coffee for breakfast or sweet and warm banquets.</div><a href="#">View more</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-lg-6 wow fadeInLeft" data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-4"><img class="mr-img img-fluid" src="http://localhost:3000/assets/images/bonglan.jpg" alt="Baguette"></div>
                    <div class="col-8 text-left"><strong>How to make delicious baguettes</strong>
                      <div>Created by <font color="#FF3399">Admin</font> | 06/26/2019</div>
                      <div class="truncate">The custard cake is not only especially loved by children but also enjoyed by adults. Soft and sweet cake and enjoy a cup of tea or coffee for breakfast or sweet and warm banquets.</div><a href="#">View more</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-lg-6 wow fadeInRight" data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-4"><img class="mr-img img-fluid" src="http://localhost:3000/assets/images/banhmihoacuc.jpg" alt="Baguette"></div>
                    <div class="col-8 text-left"><strong>How to make delicious baguettes</strong>
                      <div>Created by <font color="#FF3399">Admin</font> | 06/26/2019</div>
                      <div class="truncate">The custard cake is not only especially loved by children but also enjoyed by adults. Soft and sweet cake and enjoy a cup of tea or coffee for breakfast or sweet and warm banquets.</div><a href="#">View more</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 pic-of-invertors text-center">
          <p class="text-uppercase"><span class="font-weight-bolder bg-dark text-white">PICTURES OF INVESTORS</span></p>
          <div class="container-fluid wow fadeInUp" data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30">
            <div class="row">
              <div class="carousel slide" id="pictureOfInvertors" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <ul class="list-group list-group-horizontal">
                      <div class="list-group-item"><img class="img-thumbnail" src="http://localhost:3000/assets/images/invertors/team11.jpg" alt=""></div>
                      <div class="list-group-item"><img class="img-thumbnail" src="http://localhost:3000/assets/images/invertors/team10.jpg" alt=""></div>
                      <div class="list-group-item"><img class="img-thumbnail" src="http://localhost:3000/assets/images/invertors/team9.jpg" alt=""></div>
                      <div class="list-group-item"><img class="img-thumbnail" src="http://localhost:3000/assets/images/invertors/team8.jpg" alt=""></div>
                    </ul>
                  </div>
                  <div class="carousel-item">
                    <ul class="list-group list-group-horizontal">
                      <div class="list-group-item"><img class="img-thumbnail" src="http://localhost:3000/assets/images/invertors/team7.jpg" alt=""></div>
                      <div class="list-group-item"><img class="img-thumbnail" src="http://localhost:3000/assets/images/invertors/team6.jpg" alt=""></div>
                      <div class="list-group-item"><img class="img-thumbnail" src="http://localhost:3000/assets/images/invertors/team5.jpg" alt=""></div>
                      <div class="list-group-item"><img class="img-thumbnail" src="http://localhost:3000/assets/images/invertors/team4.jpg" alt=""></div>
                    </ul>
                  </div>
                  <div class="carousel-item">
                    <ul class="list-group list-group-horizontal">
                      <div class="list-group-item"><img class="img-thumbnail" src="http://localhost:3000/assets/images/invertors/team3.jpg" alt=""></div>
                      <div class="list-group-item"><img class="img-thumbnail" src="http://localhost:3000/assets/images/invertors/team2.jpg" alt=""></div>
                      <div class="list-group-item"><img class="img-thumbnail" src="http://localhost:3000/assets/images/invertors/team1.jpg" alt=""></div>
                      <div class="list-group-item"><img class="img-thumbnail" src="http://localhost:3000/assets/images/invertors/team12.jpg" alt=""></div>
                    </ul>
                  </div>
                </div><a class="carousel-control-prev" href="#pictureOfInvertors" data-slide="prev">
                  <div class="carousel-icon">
                    <div class="fas fa-angle-left"></div>
                  </div></a><a class="carousel-control-next" href="#pictureOfInvertors" data-slide="next">
                  <div class="carousel-icon">
                    <div class="fas fa-angle-right"></div>
                  </div></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 contact-us text-center">
          <h1 class="text-uppercase font-weight-bolder">Contact Us</h1>
          <p>Please leave information if you need to order a cake or register for a baking course. Bakery will contact you as soon as possible</p>
          <form>
            <div class="container-fluid">
              <div class="row wow fadeInLeft" data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30">
                <div class="col-md-4 form-group">
                  <input class="form-control" type="text" placeholder="Full name">
                </div>
                <div class="col-md-4 form-group">
                  <input class="form-control" type="email" placeholder="Email">
                </div>
                <div class="col-md-4 form-group">
                  <input class="form-control" type="text" placeholder="Phone">
                </div>
              </div>
              <div class="row wow fadeInRight" data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30">
                <div class="col-md-12 form-group">
                  <textarea class="form-control" rows="5"></textarea>
                </div>
              </div>
              <div class="row wow fadeInRight" data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30">
                <div class="col-md-12 form-group text-right">
                  <button class="btn btn-primary mb-2" type="button">Send Feedback</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 bg-white text-dark pt-5 pb-5">
            <div class="row">
              <div class="col-md-4 text-center"><img src="http://localhost:3000/assets/images/11111.png" alt="Footer" width="50%"></div>
              <div class="col-md-4 font-weight-bolder pf-38">
                <div class="border-black"><i class="fa fa-map-marker mr-2"></i><span>Address: 123 Street, HCM City, VN</span></div>
                <div class="border-black"><i class="fa fa-phone mr-2"></i><span>Phone number : (123) 456-7890 </span></div>
                <div class="border-black"><i class="fa fa-envelope mr-2"></i><span>E-mail : mail@example.com</span></div>
                <div class="pt-3 sn-icon"><i class="fab fa-facebook-square mr-2"></i><i class="fab fa-instagram mr-2"></i><i class="fab fa-google-plus-square mr-2"></i><i class="fab fa-twitter-square mr-2"></i></div>
              </div>
              <div class="col-md-4">
                <ul class="rm-type font-weight-bolder pt-3">
                  <li> <a href="#"><i class="fa fa-chevron-circle-right mr-2"></i><span>Home</span></a></li>
                  <li> <a href="#"> <i class="fa fa-chevron-circle-right mr-2"></i><span>Shop</span></a></li>
                  <li> <a href="#"> <i class="fa fa-chevron-circle-right mr-2"></i><span>Recipes</span></a></li>
                  <li> <a href="#"> <i class="fa fa-chevron-circle-right mr-2"></i><span>Teach baking</span></a></li>
                  <li> <a href="#"> <i class="fa fa-chevron-circle-right mr-2"></i><span>Baking tools</span></a></li>
                  <li> <a href="#"> <i class="fa fa-chevron-circle-right mr-2"></i><span>About</span></a></li>
                  <li> <a href="#"> <i class="fa fa-chevron-circle-right mr-2"></i><span>Contact</span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="http://localhost:3000/common/lib/jquery.min.js"></script>
  <script src="http://localhost:3000/common/lib/bootstrap.min.js"></script>
  <script src="http://localhost:3000/common/lib/jquery.arctext.js"></script>
  <script src="http://localhost:3000/common/lib/jsapi.js"></script>
  <script src="http://localhost:3000/common/arctext.js"></script>
  <script src="http://localhost:3000/common/lib/wow.min.js"></script>
  <script src="http://localhost:3000/common/wow.js"></script>
  <script src="http://localhost:3000/common/filter-images.js"></script>
</html>
