bakery/src/webapp/app/pug/nav.pug
//Nav menu
-var nav = [{'href':host+'index.html', 'li':'Home'},{'href':host+'html/shop.html', 'li':'Shop'},{'href':'#', 'li':'Recipes'}]
-nav.push({'href':'#', 'li':'Teach baking'},{'href':'#', 'li':'Baking tools'},{'href':'#', 'li':'About'},{'href':'#', 'li':'Contact'})
nav.navbar.navbar-expand-lg.bg-white.navbar-light.fixed-top
    a(href='#', class='navbar-brand')
        h1.logo.ml-4 Bakery
    button.navbar-toggler(type='button', data-toggle='collapse', data-target="#navbarSupportedContent",aria-expanded="false", aria-label="Toggle navigation")
        i.fas.fa-bars
    #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
            each item in nav 
                li.navbar-item
                    a(href='' + item.href, class='nav-link text-white')=item.li
            li.navbar-item
                a(href='#',data-toggle="modal", data-target="#search", class='nav-link text-white')
                    i.fas.fa-search.mr-sm-2
include modals/search-modal.pug

bakery/src/webapp/app/html/nav.html

<!--Nav menu-->
<nav class="navbar navbar-expand-lg bg-white navbar-light fixed-top"><a class="navbar-brand" href="#">
    <h1 class="logo ml-4">Bakery</h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="navbar-item"><a class="nav-link text-white" href="undefinedindex.html">Home</a></li>
      <li class="navbar-item"><a class="nav-link text-white" href="undefinedhtml/shop.html">Shop</a></li>
      <li class="navbar-item"><a class="nav-link text-white" href="#">Recipes</a></li>
      <li class="navbar-item"><a class="nav-link text-white" href="#">Teach baking</a></li>
      <li class="navbar-item"><a class="nav-link text-white" href="#">Baking tools</a></li>
      <li class="navbar-item"><a class="nav-link text-white" href="#">About</a></li>
      <li class="navbar-item"><a class="nav-link text-white" href="#">Contact</a></li>
      <li class="navbar-item"><a class="nav-link text-white" href="#" data-toggle="modal" data-target="#search"><i class="fas fa-search mr-sm-2"></i></a></li>
    </ul>
  </div>
</nav>
<div class="modal fade" id="search">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <input type="text" placeholder="Search..."/>
      </div>
    </div>
  </div>
</div>
